.root {
    width: 351px;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    background: #F6F7F9;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 45px;
    cursor: pointer;
    transition: all ease-in-out .15s;
    padding: 20px;
}

.root h1 {
    text-transform: uppercase;
    margin: 10px 0;
}

.root--primary {
    background: #000000;
    color: #ffffff;
}

.root--secondary {
    background: #d3d3d3;
    color: #000000;
}